<%- include('partials/header.ejs') %>



<h1>About Me</h1>
<img class="profile" src="images/cat.jpeg" alt="cat profile">
<p>
  Uzbek tilida:
Salom men ismim  Shahzodbek familiyam Rahimberganov sharifim Shuhratovich  va men 14.01.2007 Uzbekiston Respublikasi Xorazim viloyati Urganch tumani Paxtakor qishlog'i Qaychili mahallasida tavalud topganman.
Men hozirda 17 yoshman va IT sohasida oqiy boshlaganimga 7 oydan oshdi. Men hozirda JavaScript, Express, jQuery , EJS va Node JS tilarini o'rganyapman kelajakda fullstack dasturchi bo'lmoqchiman

English language:
Hello, my name is Shakhzodbek, my surname is Rakhimberganov, my family name is Shukhratovich, and I was born on 14.01.2007 in Kaychili quarter, Pakhtakor village, Urganch district, Khorezim region, Republic of Uzbekistan.
I am currently 17 years old and it has been more than 7 months since I started my IT course. I am currently learning JavaScript, Express, jQuery, EJS and Node JS and I want to become a full stack developer in the future
</p>

  <%- include('partials/footer.ejs') %>